<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Syllabus!</h4>
    <h3><p>Aww yeah, Worried about getting the syllabus for youself or for your child's new session</p></h3><h3></h3>
    <hr>
    <h3><p class="mb-0">Try here, book it and we'll deliver it to your doorstep</p></h3>
  </div>
<h3>Provide us some detail and we will do it for you</h3>

<form>
    
    <div class="form-group">
      <label for="exampleFormControlSelect1">School namet</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>City Montessori School</option>
        <option>St. Francis</option>
        <option>Unity College</option>
        <option>St. Joseph inter College</option>
        <option>St. Agnes Loreto Day School</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Class select</label>
      <select class="form-control" id="exampleFormControlSelect2">
        <option>Montessori/LowerN/PrePrimary</option>
        <option>Nursery/Upper.N</option>
        <option>Kg</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Want to Say something, Write here!</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>