<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/ICSE_Biology_class7.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Biology Class 7</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
          <a href="#" class="btn btn-success">Add</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/ChemistryClass10ICSE.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Chemistry Class 10</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
            <a href="#" class="btn btn-success">Add</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/Concept_of_physics_HC_part1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Physics Class 11</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <a href="#" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/Concept_of_physics_HC_part2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Physics Class 12</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
            <a href="#" class="btn btn-success">Add</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/ICSE_Biology_class7.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Biology Class 7</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Buy Now</a>
              <a href="#" class="btn btn-success">Add</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/ICSE_Maths_class7.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Mathematics class 7</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
                <a href="#" class="btn btn-success">Add</a>
              </div>
            </div>
          </div>
    </div>
</div>